<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">    Welcome to {{ title }}! {{author}} </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li>   <a routerLink="/dashboard">Dashboard</a> </li>
              <li> <a routerLink="/heroes">Heroes</a> </li>
              <li><a routerLink="/user">User</a></li>
              <li><a routerLink="/login">Login</a></li>
              <li><a routerLink="/child">Child</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-12">

        <app-child (valueChange)='displayCounter($event)'></app-child>

        <div class="container">
            <br />
            <h1 class="text-center">{{title}}</h1>
            <table class="table">
                <thead>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Stock</th>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products">
                        <td>{{p.id}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.stock}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
      <router-outlet></router-outlet> 
 </div>
  </div>
</div>

 
    
    
   
   
 
  


 
